<!--start of banner-->
<div class="uk-grid secondsection"> 
    <div class="uk-width-1-2@s uk-padding-medium">
        <div class="uk-text-bold uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true" id="leftbox">
            <h1 class="uk-text-bold">The #1 place for vinyl lovers</h1>
            <h4>Build collections and share with others</h4>
        </div>
    </div>

    <div class="uk-width-1-2@s uk-padding-medium">
        <div class="uk-text-bold uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true" id="rightbox">
            <h3 class="uk-text-bold">Find out why others love it, create your first collection 
                today
            </h3>
            <button class="uk-button uk-button-danger uk-button-small uk-text-normal" id="getstarted"><a href="/register">GET STARTED</a></button>
        </div>
    </div>
</div>
<!--end of blue banner-->