<!--start of 'looking for something in particular?'-->
<div class="filterbanner">
    <div class="uk-container">
    <div class="uk-grid" style="margin-top: 70px; margin-bottom: 70px;">
        <div class="uk-width-1-2@s uk-child-width-auto leftside">
            
                    <div>
                        <img class="balloon left uk-margin-remove" src="Balloon1.png">
                    </div>
    
                    <div>
                        <img class="balloon right uk-margin-remove" src="Balloon2.png">
                    </div>
    
                    <div>
                        <img class="balloon left uk-margin-remove" src="Balloon3.png">
                    </div>
          
                    <div>
                        <img class="balloon right uk-margin-remove" src="Balloon4.png">
                    </div>
        </div>

    
        
        <div class="uk-width-1-2@s rightside">
            <div>
                <h2 class="uk-text-right uk-text-bold whitetext thinlineheight">Looking for something in particular?</h2>
            </div>

            <div>
                <h3 class="uk-text-right uk-text-muted thinlineheight" style="padding-left: 50px;">Filter our users’ collections to find 
                    what you’re after
                </h3>

                <img src="/arrow.png" class="uk-blend-lighten" style="float: left; margin-left: 80px;">
                <ul class="uk-text-right uk-list uk-text-muted thinlineheight uk-list-collapse" style="padding-top: 10px;">
                    <li style="color:#eb982b;; font-size: large;"><b>Genres</b></li>
                    <li>Rock</li>
                    <li>Electronic</li>
                    <li>Pop</li>
                    <li>Hip Hop</li>
                    <li>Folk & Country</li>
                    <li>Jazz</li>
                </ul>

                <form class="uk-search uk-search-default uk-align-right" style="margin-right: 40px;" action="/mysearch" method="POST">
                    <span uk-search-icon></span>
                    <input class="uk-search-input brandtext" id="mysearchbottom" type="search" placeholder="SEARCH" name="search_field">
                </form>

            </div>
        </div>
    </div>
</div>
</div>
<!--end of 'looking for something in particular?'-->