<div class="footer">
  <div class="uk-grid">
    <div class="uk-width-1-2@s" id="if_footer_small">
        <div class="footerleft">
          <a href="#" style="color: rgb(150, 150, 150); font-size: larger; text-decoration: none;"><strong>STACKS</strong>OFWAX</a>
        </div>
    </div>

    <div class="uk-width-1-2@s" id="if_footer_small">
      <div class="footerright uk-align-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span uk-icon="icon: facebook; ratio: 2"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span uk-icon="icon: twitter; ratio: 2"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span uk-icon="icon: instagram; ratio: 2"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span uk-icon="icon: google; ratio: 2"></span>      
            </a>
          </li>    
        </ul>
      </div>
    </div>
  </div>