  <!--first landing section-->
  <div class="uk-container landing">
    <div class="uk-grid landing"> 
        <div class="uk-width-auto uk-position-medium uk-position-center-left">

            <div id="heading">
                <h1 class="uk-text-bold whitetext">Find your new favourite vinyl</h1>
                <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input class="uk-search-input" id="mysearch" type="search" placeholder="Explore by genre, artists and more..." aria-label="">
                </form>
            </div>

        </div>
    </div>
</div>
<!--end of first landing section-->