<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stacksofwax</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="ui.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>
</head>
<body id="login_page_body">
    <%- include('header') %>

    <div class="uk-width-expand uk-background-muted">
        <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-auto uk-flex">
                <a class="uk-visible@m" uk-toggle="target: #sidebar">
      <span class="uk-icon-button"><i class="fas fa-align-left"></i></span>
                </a>
                <a class="uk-hidden@m" href="#sidebar-offcanvas" uk-toggle>
                    <span class="uk-icon-button"><i class="fas fa-align-right"></i></span>
                </a>
            </div>
            <div class="uk-width-expand uk-flex uk-flex-right uk-visible@s" style="padding-right: 40px";>
                <ul class="uk-breadcrumb uk-padding-small">
                    <li><a href="/">Home</a></li>
                    <li><a href="">My Account</a></li>
                    <li><span>Login</span></li>
                </ul>
            </div>
        </div>
<section class="uk-section uk-section-xsmall" uk-height-viewport="offset-top: true">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-large" style="margin-top: 60px; margin-bottom: 30px;">
                <h3>Login</h3>
                <form class="uk-form-stacked" action="/login" method="POST">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="username">
                            Username
                        </label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip" uk-tooltip="title: This field is required; pos: bottom-right"><i class="fas fa-info-circle"></i></a>
                                <input class="uk-input" name="usernameField" type="text">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span> 
                            </div>
                        </div>
                    </div>
                
                    <div class="uk-margin">
                        <label class="uk-form-label" for="password">
                            Password
                        </label>
                        <div class="uk-form-controls">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip" uk-tooltip="title: This field is required; pos: bottom-right"><i class="fas fa-info-circle"></i></a>
                                <input class="uk-input" name="passwordField" type="password">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label><input class="uk-checkbox" type="checkbox" checked> Remember Me</label>
                    </div>
            
                    <button class="uk-button uk-button-primary uk-width-1-1" style="background-color: #eb982b;" type="submit">Login</button>

                </form>
                

                <div class="uk-text-center" style="margin-top: 20px;">
                    <div class="uk-text-right uk-display-inline">
                    <a class="uk-link-reset uk-text-small uk-text-right" href="/register" uk-toggle="target: #recover;animation: uk-animation-slide-top-small">Create an Account</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<%- include('footer') %>

</body>
</html>