<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stacksofwax</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="ui.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.22/dist/js/uikit-icons.min.js"></script>
</head>
<body>

<%- include('header') %>

<div class="collections_page">

        <div class="uk-container uk-container-center">

            <div class="uk-margin-medium-top">
                <h1 class="uk-text-bold" style="font-size: 2.4em;">Collection</h1>
            </div>

            <div class="uk-grid"> 
        
                <div class="uk-width-1-5@s uk-margin-large-top uk-width-expand if_small_screen" style="padding-left: 50px;">
                    <div>
                        <p>Filter by:</p>
                        <ul>
                            <li>Genre</li>
                            <li>Artist</li>
                        </ul>
                    </div>
                </div>
        
               

                
                <ul class="uk-width-4-5 uk-grid uk-margin-medium-top">
                    
    
                    <li class="uk-width-1-4@m uk-width-1-3@s uk-width-1-5@l uk-card uk-card-body uk-padding-remove" style="margin: 15px 20px;">
                        <div class="uk-card uk-card-hover" style="background-color: white;">
                            <div class="uk-card-media-top">
                                <img src="stickseason.jpg" width="" height="" alt="">
                            </div>
                            
                            <div class="uk-card-body uk-padding-small uk-text-left">
                                <h4 class="uk-card-title uk-text-default uk-text-bold">Amy's Collection</h4>
                                <p class="uk-text-default">The top pop-rock stuff of all time</p>
                            </div>
                            <div class="uk-card-footer uk-padding-small" style="padding-top: 2px;">
                                <p class="uk-text-muted uk-text-italic uk-text-light" style="margin: 2px;">username</p>
                            </div>
                        </div>
                    </li>

                    <li class="uk-width-1-4@m uk-width-1-3@s uk-width-1-5@l uk-card uk-card-body uk-padding-remove" style="margin: 15px 20px;">
                        <div class="uk-card uk-card-hover" style="background-color: white;">
                            <div class="uk-card-media-top">
                                <img src="stickseason.jpg" width="" height="" alt="">
                            </div>
                            
                            <div class="uk-card-body uk-padding-small uk-text-left">
                                <h4 class="uk-card-title uk-text-default uk-text-bold">Amy's Collection</h4>
                                <p class="uk-text-default">The top pop-rock stuff of all time</p>
                            </div>
                            <div class="uk-card-footer uk-padding-small" style="padding-top: 2px;">
                                <p class="uk-text-muted uk-text-italic uk-text-light" style="margin: 2px;">username</p>
                            </div>
                        </div>
                    </li>

                    <li class="uk-width-1-4@m uk-width-1-3@s uk-width-1-5@l uk-card uk-card-body uk-padding-remove" style="margin: 15px 20px;">
                        <div class="uk-card uk-card-hover" style="background-color: white;">
                            <div class="uk-card-media-top">
                                <img src="stickseason.jpg" width="" height="" alt="">
                            </div>
                            
                            <div class="uk-card-body uk-padding-small uk-text-left">
                                <h4 class="uk-card-title uk-text-default uk-text-bold">Amy's Collection</h4>
                                <p class="uk-text-default">The top pop-rock stuff of all time</p>
                            </div>
                            <div class="uk-card-footer uk-padding-small" style="padding-top: 2px;">
                                <p class="uk-text-muted uk-text-italic uk-text-light" style="margin: 2px;">username</p>
                            </div>
                        </div>
                    </li>

                    <li class="uk-width-1-4@m uk-width-1-3@s uk-width-1-5@l uk-card uk-card-body uk-padding-remove" style="margin: 15px 20px;">
                        <div class="uk-card uk-card-hover" style="background-color: white;">
                            <div class="uk-card-media-top">
                                <img src="stickseason.jpg" width="" height="" alt="">
                            </div>
                            
                            <div class="uk-card-body uk-padding-small uk-text-left">
                                <h4 class="uk-card-title uk-text-default uk-text-bold">Amy's Collection</h4>
                                <p class="uk-text-default">The top pop-rock stuff of all time</p>
                            </div>
                            <div class="uk-card-footer uk-padding-small" style="padding-top: 2px;">
                                <p class="uk-text-muted uk-text-italic uk-text-light" style="margin: 2px;">username</p>
                            </div>
                        </div>
                    </li>

                    
            

                    
            </ul>
                    
                    
                    
           
               
        
        </div>
      
    </div>
</div>






    <%- include('filterbanner') %> 

    <%- include('footer') %> 

</body>
</html>