/* body styling */ 
body {
    background-size: 190%;
    background-repeat: no-repeat;
    background-image: url("Background.jpg");
    background-color: #1e1e1e;
    background-blend-mode: color-dodge;
    font-family: "Clarkson",Helvetica,sans-serif;
}

.brandtext {
    color: #eb982b;
}

.brandbackground {
    background-color: #eb982b;
}

.whitebackground {
    background-color: white;
}

.whitetext {
    color: white;
}

.greytext {
    color: #1E1E1E;
}

.brandiconhover :hover {
    color: #dc8d26;
}

#whiteiconhover :hover {
    color: #dddddd;
}





/* navigation bar additional styling */
.mynav {
    margin-top: 4%;
}




/* my button styling */ 

.brand_button_solid:hover {
    background-color: #dc8d26;
    text-decoration: none;
}

#hollow {
    border-radius: 30px;
    color: white;
}





/* landing section styling */ 

.uk-container .landing {
    height: 100vh; /*580px;*/
    margin-top: 70px;
}

.landing h1{
    padding-left: 10px;
    margin-bottom: 30px;
}

.landing #heading {
    padding-right: 300px;
    margin-right: 150px;
}

.landing #mysearch {
    border-radius: 30px;
    background-color: white;
    color: #1E1E1E;
    width: 120%;
}





/* "Find out why others love it" anon user banner styling */ 
.anonbanner {
    background-color: #eb982b;
}

.anonbanner #leftbox h1  {
    padding-top: 10px;
    line-height: 1;
}

.anonbanner #rightbox h3  {
    padding: 15px, 50px, 15px, 15px;
    line-height: 1.1;
}

.anonbanner a {
    text-decoration: none;
}

.anonbanner a:hover {
    text-decoration: none;
    color: rgb(213, 213, 213);
}

.anonbanner #leftbox, #rightbox {
    padding-left: 70px;
    background: none;
    box-shadow: none;
}

.anonbanner #rightbox {
    margin-top: 25px;
    margin-bottom: 20px;
}

.anonbanner #getstarted {
    width: 180px;
    height: 36px;
    background-color: #1E1E1E;
    border-radius: 30px;
    border: none;
    padding: 15px, 25px, 15px, 25px;
}





/* album grids styling */ 
.albumgrids {
    height: fit-content;
    background-color: white;
    margin-top: 0px;
}

.gridbox {
    width: 200px;
}



.albumgrids .gridbox:hover {
    scale: 1.02;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.131);
    background-color: #1E1E1E;
}

.hover_extras {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.652);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.gridbox:hover .hover_extras {
    visibility: visible;
    opacity: 1;
}

.hover_text {
    color: white;
    width: 100%;
    margin-left: 10px;
    padding: 4px 0px 4px 0px;
}



/* filter/balloon section styling */ 
.filterbanner {
    width: 100%;
    background-image: none;
    background-color: #1E1E1E;
}

.filterbanner #mysearchbottom {
    width: 120%;
    border: thin solid #eb982b;
    border-radius: 30px;
}

.filterbanner .rightside {
    padding: 20px 10px 10px 10px;
}

.thinlineheight {
    line-height: 1;
}

.balloon {
    scale: 0.7;
}


/* toppicks styling */ 
.toppicks {
    background-color: #eb982b;
    height: 470px;
    width: 100%;
}

.toppicks .titlebanner h1 {
    padding-top: 40px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 2.2em;
}

.toppicks .titlebanner p {
    padding: 40px 0px 10px 40px;
    margin-top: 15px;
}

.toppickscard {
    background-color: white;
    height: 300px;
    width: 230px;
    margin: 0px 8px 0px 8px;
}

.toppickscard h3 {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 2px;
}

.toppickscard .info {
    margin-top: 5px;
}

.toppickscard p {
    margin: 0px;
    font-size: smaller;
    color: #b3b3b3;
}


.toppickscard .icons {
    margin-bottom: 15px; 
    margin-right: 12px;
}




/* footer styling */ 
.footer {
    background-color: black;
}

.footerright {
    padding: 20px;
    margin-right: 70px;
}

.footerleft {
    padding: 50px;
}



/* individual album page styling */
.album_page {
    width: 100%;
    background-color: #F3F3F3;
}

.like_button {
    background-color: #eb982b;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}
      
.like_icon {
    width: 18px;
    margin-left: 6px;
    margin-right: 5px;
}
      
.like_text {
    margin-right: 10px;
    color: white;
}

.like_button:hover {
    background-color: #dc8d26;
}

.like_button a:hover {
    text-decoration: none;
    color: white;
}

.like_button a:hover {
    text-decoration: none;
}

.back_button {
    background-color: #d6d6d6;
    border: none;
    border-radius: 30px;
    padding: 8px 25px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.back_text {
    color: #494949;
    text-decoration: none;
}

.back_button:hover {
    background-color: #b6b6b6;
}

.back_button a:hover {
    text-decoration: none;
    color: #1e1e1e;;
}

.album_page .album_image {
    width: 100%;
}

.album_page #extras {
    margin-top: 20px;
}

.album_page #extras a:hover {
    text-decoration: none;
}

.album_page #extras .link {
    padding: 3px;
}

#track_position_on_album {
    width: 10%;
    color: #eb982b;
}

#track_title {
    width: 60%;
}

#track_duration {
    width: 30%;
}

.review_button {
    width: 100%;
    padding: 8px 20px;
    margin: 4px 0px;
    border: none;
    border-radius: 30px;
    background-color: #eb982b;
    color: white;
}

.review_button:hover {
    background-color: #dc8d26;
}

#collection_button {
    width: 100%;
    padding: 8px 20px;
    margin: 4px 0px;
    border: none;
    border-radius: 30px;
    background-color: #eb982b;
    color: white;
}

#collection_button:hover {
    background-color: #dc8d26;
}

#submit_button {
    background-color: #eb982b;
    padding: 7px 25px;
    border: none;
    border-radius: 30px;
    color: white;
}

#submit_button:hover {
    background-color: #dc8d26;
}

#close_button {
    background-color:rgb(213, 213, 213);
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 7px 12px;
    color: #5d5d5d;
}

#close_button:hover {
    background-color:rgb(194, 194, 194);
}


/* collections page styling */
.collections_page {
    width: 100%;
    height: 2000px;
    background-color: #F3F3F3;
}

.collections_link {
    color: #1E1E1E;
    text-decoration: none;
}

.collections_link:hover {
    color: #dc8d26;
    text-decoration: none;
}



/* additional screen sizes styling */ 
@media only screen and (max-width: 1458px) {
    .landing #heading {
        padding-right: 800px;
    }
}

@media only screen and (max-width: 1252px) {
    .landing #heading {
        padding-right: 500px;
    }
  
}

@media only screen and (max-width: 1080px) {
    .landing #heading {
        padding-right: 500px;
    }
}

@media only screen and (max-width: 960px) {
  #grid_padding_small_screen {
    margin-left: 50px;
  }
  
  .if_small_screen {
    padding: 0;
  }

  .landing #heading {
    padding-right: 400px;
}
}

@media only screen and (max-width: 780px) {
    .landing #heading {
        padding-right: 100px;
    }
}

@media only screen and (max-width: 640px) {
    .filterbanner .leftside {
        display: none;
    }

    .toppickscard .icons {
        margin-bottom: 0px; 
        margin-right: 0px;
        padding-left: 170px;
        padding-bottom: 10px;
    }

    .landing #heading {
        padding-right: 60px;
    }

    .landing h1 {
        font-size: 1.8em;
    }

    .landing {
        height: 580px;
    }

}


@media only screen and (max-width: 492px) {
    #headingcentre {
    scale: 0.9;
    }

   .toppicks .titlebanner {
    margin-bottom: 25px;
   }

    #seeall {
        padding: 55px 0px 0px 0px;
        margin: 0px 0px 0px 30px;
        font-size: 0.8em;
    }

    .landing #heading {
        padding-right: 0px;
        font-size: 0.9em;
    }

    .landing h1 {
        font-size: 1.8em;
    }

    body {
        background-size: 230%;
    }

}

@media only screen and (max-width: 434px) {
    .toppicks {
        height: 485px;
    }

    #seeall {
        padding: 10px 0px 0px 0px;
        margin: 0px 0px 25px 65px;
    }

    .toppicks .titlebanner {
        margin-bottom: 5px;
    }

}